
.flex {
    display: flex;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.text-xxl {
    font-size: 44px;
    line-height: 52px;
}

.text-xl {
    font-size: 28px;
    line-height: 33px;
}

.font-bold {
    font-weight: bold;
}

.divider {
    width: 100%;
    border: 1px solid #B9B9B9;
    margin: 60px 0 40px;
}

.app-btn {
    appearance: none;
    background: #FFFFFF;
    color: #797874;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 14px 20px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    cursor: pointer;
}


.stars {
    position: relative;
    display: flex;
    flex-shrink: 0;
}

.stars--active {
    cursor: pointer;
}

.stars__row {
    overflow: hidden;
    height: 30px;
}

.stars__off {
    position: relative;
}
.stars__on {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 0;
}


.stars__btn {
    width: 30px;
    height: 30px;
    appearance: none;
    background-size: contain;
    background-position: center;
    border: 0;
    background-color: transparent;
}

.stars--active .stars__btn {
    cursor: pointer;
}

.stars__on .stars__btn {
    background-image: url("../icons/star-on.svg");
}

.stars__off .stars__btn {
    background-image: url("../icons/star-off.svg");
}

.modal {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
}

.modal__overlay {
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.modal__content {
    position: relative;
    z-index: 10;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    padding: 10px;
}
